#include "config.h"

const char *wifi_ssid = ""; // Enter here your WiFi SSID
const char *wifi_password = ""; // Enter here your WiFi password
const char *websocket_url = "ws://192.168.0.100:8080/"; // Enter here your local computer IP-address with used server port
